<html>
  <head>
    <title><%= @title %></title>
  </head>

  <body>

    <div align="center">

      <%= @header_html  %>

      <a href="http://rdoc.info/projects/atomicobject/minilab"><img border=0 src="minilab.jpg"></a>
    </div>



  </body>
</html>
